.active{
    color: #FFDA32;
}

.ant-dropdown-menu .ant-dropdown-menu-root .ant-dropdown-menu-vertical .ant-dropdown-menu-light{
    background-color: #FFDA32 !important;
}

.ant-dropdown .ant-dropdown-menu, .ant-dropdown-menu-submenu .ant-dropdown-menu{
    background-color: #FFDA32 !important;
}