.address-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #0000001A;
}

.price-card {
    background: #13253F 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 20px #0000001A;
    opacity: 1;
}

.free-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.extras-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}